@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?eyznj6');
  src: url('../fonts/icomoon.eot?eyznj6#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?eyznj6') format('truetype'),
    url('../fonts/icomoon.woff?eyznj6') format('woff'),
    url('../fonts/icomoon.svg?eyznj6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}